In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

In [2]:
ipl2020=pd.read_csv(r'C:\Users\Yogesh Arora\Downloads\IPL Ball-by-Ball 2008-2020\IPL Ball-by-Ball 2008-2020.csv')
ipl2021=pd.read_csv(r'C:\Users\Yogesh Arora\Downloads\archive\IPL Ball-by-Ball Dataset 2021.csv')

In [3]:
ipl2020.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore

In [4]:
ipl2021.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,1254058,1,0,1,RG Sharma,CA Lynn,Mohammed Siraj,2,0,2,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
1,1254058,1,0,2,RG Sharma,CA Lynn,Mohammed Siraj,0,0,0,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
2,1254058,1,0,3,RG Sharma,CA Lynn,Mohammed Siraj,0,0,0,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
3,1254058,1,0,4,RG Sharma,CA Lynn,Mohammed Siraj,2,0,2,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
4,1254058,1,0,5,RG Sharma,CA Lynn,Mohammed Siraj,0,0,0,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore

In [5]:
matchdata = pd.concat(
    map(pd.read_csv, [r'C:\Users\Yogesh Arora\Downloads\IPL Ball-by-Ball 2008-2020\IPL Ball-by-Ball 2008-2020.csv', r'C:\Users\Yogesh Arora\Downloads\archive\IPL Ball-by-Ball Dataset 2021.csv']), ignore_index=True)

In [6]:
matchdata.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore

In [8]:
matchdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198569 entries, 0 to 198568
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                198569 non-null  int64
 1   inning            198569 non-null  int64
 2   over              198569 non-null  int64
 3   ball              198569 non-null  int64
 4   batsman           198569 non-null  object
 5   non_striker       198569 non-null  object
 6   bowler            198569 non-null  object
 7   batsman_runs      198569 non-null  int64
 8   extra_runs        198569 non-null  int64
 9   total_runs        198569 non-null  int64
 10  non_boundary      198569 non-null  int64
 11  is_wicket         198569 non-null  int64
 12  dismissal_kind    9764 non-null    object
 13  player_dismissed  9764 non-null    object
 14  fielder           6968 non-null    object
 15  extras_type       10500 non-null   object
 16  batting_team      198569 non-null  object
 17  bowling_team      198378 non-null  object
dtypes: int64(9), object(9)
memory usage: 27.3+ MB

In [73]:
        batsmen_score = pd.DataFrame(matchdata.groupby(['id', 'batsman'])['batsman_runs'].sum()).\
            rename(columns={"batsman_runs": "total_runs"})
        batsmen_scores_30 = pd.DataFrame(((matchdata.groupby(['id', 'batsman'])['batsman_runs'].sum())>=30).astype(int)).\
            rename(columns={"batsman_runs": "total_runs_30"})
        batsmen_scores_50 = pd.DataFrame(((matchdata.groupby(['id', 'batsman'])['batsman_runs'].sum())>=50).astype(int)).\
            rename(columns={"batsman_runs": "total_runs_50"})
        batsmen_scores_100 = pd.DataFrame(((matchdata.groupby(['id', 'batsman'])['batsman_runs'].sum())>=100).astype(int)).\
            rename(columns={"batsman_runs": "total_runs_100"})
        batsmen_scores_0 = pd.DataFrame(((matchdata.groupby(['id', 'batsman'])['batsman_runs'].sum())==0).astype(int)).\
            rename(columns={"batsman_runs": "total_runs_0"})
        batsmen_ball_faced = pd.DataFrame(matchdata.groupby(['id', 'batsman'])['over'].count()).\
            rename(columns={"over": "total_balls_faced"})
        batsmen_ball_faced_legal = pd.DataFrame(matchdata[matchdata['ball'] <=6].groupby(['id', 'batsman'])['ball'].count()).\
            rename(columns={"ball": "total_legal_balls_faced"})
        batsmen_scores6 = pd.DataFrame(matchdata[matchdata['batsman_runs'] == 6].groupby(['id', 'batsman'])['batsman_runs'].count()).\
            rename(columns={"batsman_runs": "run_6"})
        batsmen_scores4 = pd.DataFrame(matchdata[matchdata['batsman_runs'] == 4].groupby(['id', 'batsman'])['batsman_runs'].count()).\
            rename(columns={"batsman_runs": "run_4"})
        batsmen_position = pd.DataFrame(matchdata.groupby(['id', 'batsman'])['is_wicket'].min())
       
        
        df_list = [batsmen_score, batsmen_ball_faced, batsmen_ball_faced_legal, batsmen_scores6, batsmen_scores4, batsmen_position,batsmen_scores_30,batsmen_scores_50,batsmen_scores_100,batsmen_scores_0]
        batsmen_summary = pd.concat(df_list, join='outer', axis=1).fillna(np.nan).reset_index()
        batsmen_summary = pd.merge(batsmen_summary, matchdata[['id', 'batsman', 'inning', 'batting_team', 'bowling_team']].
                                   drop_duplicates(), on=['id', 'batsman'], how='left')
        batsmen_summary.rename(columns={'inning': 'batsmen_innings', 'batsman': 'playername', 'batting_team': 'Playing Team',
                                        'bowling_team': 'Opponent Team'}, inplace=True)

In [74]:
batsmen_summary

,id,playername,total_runs,total_balls_faced,total_legal_balls_faced,run_6,run_4,is_wicket,total_runs_30,total_runs_50,total_runs_100,total_runs_0,batsmen_innings,Playing Team,Opponent Team
0,335982,AA Noffke,9,12,11.0,NaN,1.0,0,0,0,0,0,2,Royal Challengers Bangalore,Kolkata Knight Riders
1,335982,B Akhil,0,2,2.0,NaN,NaN,0,0,0,0,1,2,Royal Challengers Bangalore,Kolkata Knight Riders
2,335982,BB McCullum,158,77,73.0,13.0,10.0,0,1,1,1,0,1,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,CL White,6,10,8.0,NaN,NaN,0,0,0,0,0,2,Royal Challengers Bangalore,Kolkata Knight Riders
4,335982,DJ Hussey,12,12,12.0,NaN,1.0,0,0,0,0,0,1,Kolkata Knight Riders,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12486,1254078,N Rana,0,1,1.0,NaN,NaN,1,0,0,0,1,2,Kolkata Knight Riders,Punjab Kings
12487,1254078,RA Tripathi,41,32,32.0,NaN,7.0,0,1,0,0,0,2,Kolkata Knight Riders,Punjab Kings
12488,1254078,Ravi Bishnoi,1,5,4.0,NaN,NaN,0,0,0,0,0,1,Punjab Kings,Kolkata Knight Riders
12489,1254078,SP Narine,0,5,4.0,NaN,NaN,0,0,0,0,1,2,Kolkata Knight Riders,Punjab Kings
12490,1254078,Shubman Gill,9,8,8.0,NaN,2.0,0,0,0,0,0,2,Kolkata Knight Riders,Punjab Kings

In [25]:
        bowler_wickets = pd.DataFrame(matchdata[((matchdata['is_wicket'] == 1) & (~matchdata['dismissal_kind'].isin(['run out','retired hurt'])))].
                                      groupby(['id', 'bowler'])['is_wicket'].count()).\
            rename(columns={"is_wicket": "total_wickets"})
        bowler_overs_bow = pd.DataFrame(matchdata.groupby(['id', 'bowler'])['over'].count()).\
            rename(columns={"over": "total_balls_bowled"})
        bowler_ball_faced_legal = pd.DataFrame(matchdata[matchdata['ball'] <=6].groupby(['id', 'bowler'])['ball'].count()).\
            rename(columns={"ball": "total_legal_balls_bowled"})
        # calculating the number of maiden overs bowled in a match
        bowler_runs_given = pd.DataFrame(matchdata.groupby(['id', 'bowler'])['batsman_runs'].sum()).\
            rename(columns={"batsman_runs": "total_runs_given"})
        #matchdata_runs_per_over = pd.DataFrame(self.matchdata.groupby(['matchid', 'bowlername', 'over_num'])['batsmanscorevalue'].sum()).reset_index()
        #matchdata_runs_per_over['maiden_overs'] = np.where(matchdata_runs_per_over['batsmanscorevalue'] == 0, 1, 0)
        #matchdata_runs_per_over = matchdata_runs_per_over.groupby(['matchid', 'bowlername'])['maiden_overs'].sum()
        # combining all the features created so far
        df_list = [bowler_wickets, bowler_overs_bow, bowler_ball_faced_legal, bowler_runs_given]
        bowler_summary = pd.concat(df_list, join='outer', axis=1).fillna(np.nan).reset_index()
        # adding additional columns just in case we need for modeling
        bowler_summary = pd.merge(bowler_summary, matchdata[['id', 'bowler', 'inning', 'batting_team', 'bowling_team']].drop_duplicates(), on=['id', 'bowler'], how='left')
        bowler_summary.rename(columns={'inning': 'bowlers_innings', 'bowler': 'playername', 'batting_team': 'Playing team',
                                       'bowling_team': 'Opponent Team'}, inplace=True)
        bowler_summary['economy_rate'] = (bowler_summary['total_runs_given'] * 6) / bowler_summary['total_legal_balls_bowled']

In [26]:
bowler_summary

,id,playername,total_wickets,total_balls_bowled,total_legal_balls_bowled,total_runs_given,bowlers_innings,Playing team,Opponent Team,economy_rate
0,335982,AA Noffke,1.0,25,24,35,1,Kolkata Knight Riders,Royal Challengers Bangalore,8.750000
1,335982,AB Agarkar,3.0,28,24,21,2,Royal Challengers Bangalore,Kolkata Knight Riders,5.250000
2,335982,AB Dinda,2.0,20,18,7,2,Royal Challengers Bangalore,Kolkata Knight Riders,2.333333
3,335982,CL White,NaN,7,6,22,1,Kolkata Knight Riders,Royal Challengers Bangalore,22.000000
4,335982,I Sharma,1.0,19,18,6,2,Royal Challengers Bangalore,Kolkata Knight Riders,2.000000
...,...,...,...,...,...,...,...,...,...,...
9914,1254078,Mohammed Shami,1.0,25,24,24,2,Kolkata Knight Riders,Punjab Kings,6.000000
9915,1254078,PJ Cummins,2.0,19,18,30,1,Punjab Kings,Kolkata Knight Riders,10.000000
9916,1254078,Ravi Bishnoi,NaN,24,24,19,2,Kolkata Knight Riders,Punjab Kings,4.750000
9917,1254078,SP Narine,2.0,24,24,22,1,Punjab Kings,Kolkata Knight Riders,5.500000
9918,1254078,Shivam Mavi,1.0,25,24,12,1,Punjab Kings,Kolkata Knight Riders,3.000000

In [21]:
  ipl_merged_scorecard = pd.merge(batsmen_summary, bowler_summary, on=['id', 'playername'], how='outer')

In [24]:
        MINAVGBALLSFACED = 8
        MINAVGBOWLSBOWLED = 6
        player_avg = ipl_merged_scorecard[['playername', 'total_balls_faced', 'total_balls_bowled']].fillna(0)
        player_avg = pd.DataFrame(player_avg.groupby('playername')[['total_balls_faced', 'total_balls_bowled']].mean())
        conditions = [((player_avg['total_balls_faced'] >= MINAVGBALLSFACED) & (player_avg['total_balls_bowled'] >= MINAVGBOWLSBOWLED)),
                      (player_avg['total_balls_bowled'] >= MINAVGBOWLSBOWLED)]
        choices = ['AllRounder', 'Bowler']
        player_avg['playing_role'] = np.select(conditions, choices, default='Batsmen')
        player_avg = player_avg.reset_index()

In [22]:
 ipl_merged_scorecard

,id,playername,total_runs,total_balls_faced,total_legal_balls_faced,run_6,run_4,is_wicket,batsmen_innings,batsmen_battingteam,batsmen_bowlingteam,total_wickets,total_balls_bowled,total_legal_balls_bowled,total_runs_given,bowlers_innings,bowler_battingteam,bowler_bowlingteam,economy_rate
0,335982,AA Noffke,9.0,12.0,11.0,NaN,1.0,0.0,2.0,Royal Challengers Bangalore,Kolkata Knight Riders,1.0,25.0,4.0,35.0,1.0,Kolkata Knight Riders,Royal Challengers Bangalore,52.5
1,335982,B Akhil,0.0,2.0,2.0,NaN,NaN,0.0,2.0,Royal Challengers Bangalore,Kolkata Knight Riders,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,335982,BB McCullum,158.0,77.0,73.0,13.0,10.0,0.0,1.0,Kolkata Knight Riders,Royal Challengers Bangalore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,335982,CL White,6.0,10.0,8.0,NaN,NaN,0.0,2.0,Royal Challengers Bangalore,Kolkata Knight Riders,NaN,7.0,1.0,22.0,1.0,Kolkata Knight Riders,Royal Challengers Bangalore,132.0
4,335982,DJ Hussey,12.0,12.0,12.0,NaN,1.0,0.0,1.0,Kolkata Knight Riders,Royal Challengers Bangalore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17146,1237181,K Rabada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,18.0,3.0,32.0,2.0,Mumbai Indians,Delhi Capitals,64.0
17147,1237181,NM Coulter-Nile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,25.0,4.0,28.0,1.0,Delhi Capitals,Mumbai Indians,42.0
17148,1237181,P Dubey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,3.0,29.0,2.0,Mumbai Indians,Delhi Capitals,58.0
17149,1237181,R Ashwin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,4.0,28.0,2.0,Mumbai Indians,Delhi Capitals,42.0
17150,1237181,TA Boult,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,24.0,4.0,30.0,1.0,Delhi Capitals,Mumbai Indians,45.0

In [25]:
player_avg

         playername  total_balls_faced  total_balls_bowled playing_role
0    A Ashish Reddy           7.000000            9.642857       Bowler
1        A Chandila           0.583333           19.500000       Bowler
2          A Chopra          12.500000            0.000000      Batsmen
3       A Choudhary           4.000000           21.600000       Bowler
4       A Dananjaya           5.000000           25.000000       Bowler
..              ...                ...                 ...          ...
575     YV Takawale          18.300000            0.000000      Batsmen
576   Yashpal Singh          16.750000            0.000000      Batsmen
577     Younis Khan           7.000000            0.000000      Batsmen
578    Yuvraj Singh          17.093023            6.837209   AllRounder
579          Z Khan           1.424242           22.989899       Bowler

[580 rows x 4 columns]

In [19]:
fielder_data = pd.DataFrame(matchdata[((matchdata['is_wicket'] == 1) & (matchdata['dismissal_kind'].isin(['caught','caught and bowled','run out','stumped'])))].
                                      groupby(['fielder','dismissal_kind'])['is_wicket'].count()).\
            rename(columns={"is_wicket": "Fielding_stats"})

In [20]:
fielder_data

                                         Fielding_stats
fielder                  dismissal_kind
A Ashish Reddy           caught                       8
                         run out                      1
A Ashish Reddy,J Theron  run out                      1
A Chandila               caught                       2
A Chopra                 caught                       2
...                                                 ...
Yuvraj Singh,RV Uthappa  run out                      1
Z Khan                   caught                      20
                         run out                      2
Z Khan,KK Nair,Q de Kock run out                      1
Z Khan,Q de Kock         run out                      1

[1085 rows x 1 columns]

In [55]:

if batsmen_score >=30:
                batsmen_score_30 =1 
else:
      batsmen_score_30=0

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [51]:
batsmen_30

                      total_runs
id      batsman
335982  AA Noffke          False
        B Akhil            False
        BB McCullum         True
        CL White           False
        DJ Hussey          False
...                          ...
1254078 N Rana             False
        RA Tripathi         True
        Ravi Bishnoi       False
        SP Narine          False
        Shubman Gill       False

[12491 rows x 1 columns]

In [67]:
  batsmen_score = pd.DataFrame(((matchdata.groupby(['id', 'batsman'])['batsman_runs'].sum())>=30).astype(int)).\
            rename(columns={"batsman_runs": "total_runs"})

In [65]:
 batsmen_score=batsmen_score.astype(int)

In [68]:
batsmen_score

                      total_runs
id      batsman
335982  AA Noffke              0
        B Akhil                0
        BB McCullum            1
        CL White               0
        DJ Hussey              0
...                          ...
1254078 N Rana                 0
        RA Tripathi            1
        Ravi Bishnoi           0
        SP Narine              0
        Shubman Gill           0

[12491 rows x 1 columns]